* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
   
}
#head1
{
    /* lam toi anh */
   background:  linear-gradient(
    transparent, 
    rgba(23, 22, 24, 0.425)
   
  ), url('../img/issuehatdinhduong.jpg') top center / cover no-repeat;
  
   background-attachment:fixed;
   height: 800px;
}
.header
{
    background: #fff; 
    width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1;
 display: flex;
 box-shadow:0 0 10px #ccc;
 padding: 10px 0 20px 0;
}
.logochu
{
   
    width: 20%;
    margin: 0 5% 0 5%;
   text-align: center;
}

.logochu .p1{
 
 font-size: 13px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 4px;
margin-top: 5px;
 
 


}
.logochu .p2{
   font-size: 30px;
 
   font-style: italic;
  margin-bottom: 0;
  
    }
.danhmuc p a
{
    text-decoration: none;
   color: #555555;
   
 margin-left: 40px;
 margin-right: 20px;
    font-size: 13px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.danhmuc a:hover
{
    color:#a9c9c9;
}
.danhmuc .ul
{ 
    display: flex;
   
    
}
.danhmuc
{ 
   
    width: 70%;
 
  margin:30px 5% 0 5% ;
}

 .welcome
{ 
   position:absolute;
    margin-top: 400px;
  left: 7%;  
 
}
.welcome .w
{
font-size: 50px;
color: #fff;
}
.welcome .w1
{
    margin: 5px 0 10px 0;

color: #fff;
}
.welcome .bttn
{
    background-color: transparent;
    border: 1px solid #a9c9c9;
height: 30px;
width: 100px;
color: #fff;
margin-bottom: 179px;
}
.itemmonan .good:hover,.itemmonan .thea:hover, .itemmonan .create:hover
{
  color: #549494;
}
.mainmonan
{
 background: #f4f3ef;
  display: flex;
  padding: 40px 200px 0 200px;
}
.comment
{
 
 margin-right: 30px;
  
}
.itemmonan
{
 
  display: flex;
  margin-bottom: 60px;
  background: #fff;
  box-shadow:0 0 10px #ccc;
}
.mieuta
{
  margin: 40px 50px 30px 50px ;
}

.itemmonan .thea,.itemmonan .thea1 {
  
  color: inherit;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .itemmonan  .good {
  color:#107070;
 

}
.chefbao p
{
  margin-top: 20px;
  margin-bottom: 40px;
  color: #555555;
  font-size: 13px;
  letter-spacing: 1px;
}
.itemmonan .create {
  margin-top: 20px;
  margin-bottom: auto;
  color: #555555;
  font-size: 13px;
  letter-spacing: 1px;
  
}
.itemmonan hr
{
margin-top: 40px;
}
.itemmonan .img
{
  width: 50%;
  
}
.view
{
  margin-top: 15px;
  display: flex;
}
.view p
{
  margin-right: 20px;
 font-size: 13px;
 color: #555555;
}
.mainchef
{
  width: 80%;

}
.chef
{
padding-bottom: 25px;
  background: #fff;
  box-shadow:0 0 10px #ccc;
 margin-bottom: 30px;
 
}
.chef .imgchef
{
 width: 100%;
 
}

.chefbao .good1, .chude h2
{
  color:#107070;
  font-size: 40px;
 text-align: center;
  font-style: italic;
 margin-bottom: 20px;
}
.chefbao .thea
{
  color: #549494;
 
}
.chefbao
{
margin: 20px 20px 0px 20px;

}
.nauan
{
  width: 100%;
  height: 300px;
  background: url("../img/nauan.jpg") top center / cover no-repeat ;
  box-shadow:0 0 10px #ccc;
  display: flex;
}
.nauan .tieude
{

  background: #fff;
  text-align: center;
  width: 80%;
  height: 30%;
  margin: auto;
  box-shadow:0 0 10px #ccc;
  
}
.nauan .itemt
{
 margin-top: 15px;
 margin-bottom: 15px;
 color:#107070;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nauan a{
  color:#107070;
  font-size: 15px;
}
.contact
{
  margin-top: 30px;
  height: 130px;
  background: #107070;
  box-shadow:0 0 10px #ccc;
  display: flex;
}
.contact .con
{
  text-align: center;
 
}
.contact p
{margin-top: 40px;
  color: #fff;
  margin-bottom: 15px;
  margin-left: 23px;
}
.contact a
{
  color: #fff;
  text-decoration: none;
 
  margin-left: 25px;
 
  
}
.contact1
{
  margin-top: 30px;
  height: 170px;
  background:#fff;
  box-shadow:0 0 10px #ccc;
  display: flex;
}
.contact1 .con, .chude .tieude
{
  text-align: center;
 
}
.contact1 p, .chude p
{margin-top: 40px;
  color: #107070;
  margin-bottom: 15px;
  margin-left: 5px;
}
.contact1 .email
{
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
}
.contact1 .sub
{
  width: 80%;
  height: 27px;
  background: #107070;
  color: #fff;
  border: none;
}
.contact1 .sub:hover
{
  background:#ccc;
  color:#000;
}


 
